<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="content-main">
        <div class="nav">
            <nav class="main">
                <ul>
                    <a href="#"><li>Inicio</li></a>
                    <a href="proyectos.html"><li>Proyectos</li></a>
                    <a href="contacto.html"><li>Contacto</li></a>
                </ul>
            </nav>
        </div>

        <div class="content-perfil">
           <div class="content">
           <div class="info-perfil">
            <h3 class="text1">Hola, me llamo</h3>
            <h1 class="text2">KAREN ORTEGA</h1>
            <h3 class="text3">Desarrolladora full-stack</h3>
           </div>
           <div class="img-perfil">
            <img class="imgP" src="../img/logo.png" alt="">
            <button class="cv">Descargar cv</button>
           </div>
        </div>
    </div>
         <div class="perfil">
           <div class="text-content">
            <h2>Hola</h2>
            <p >Mi nombre es Karen Ortega, tengo 19 años, inicie en el mundo del desarrollo en el año 2019, me considero una persona muy creativa y me encanta retarme constamente.</p>
           </div>
                
        <!-- layous -->
        <div class="contenedor2">
              <div class="cont2box1">
                      <div class="imgbox">
                        <img class="sas" src="img/ico/diseno-grafico.png"/> 
                      </div>
                     
                <h2>  <p class="cont2text">Lenguajes de programacion y Herramientas:</p></h2>
                <p>HTML, Java, Kotlin,Css, Javascript, Php, Mysql, Bootstrap, Node js, Git, GitHUb, Prestashop entre otros.</p>
                </div>  

                <div class="cont2box1">
                        <div class="imgbox">
                                <img class="sas" src="img/ico/desarrollo-web.png" alt="">
                        </div>
                  <h2>Desarrollador full-stack</h2>
                  <p>Me gusta codificar cosas desde cero y disfruto darle vida a las ideas en el navegador.</p>
                  </div>  

                  <div class="cont2box1">
                        <div class="imgbox">
                          <img class="sas" src="img/ico/estudiar.png"/> 
                        </div> 
                  <h2>Formación</h2>
                  <p>Técnico en desarollo de software</p>
                  <p>Tecnólogo en analis y desarollo de sistemas de información</p>
                  </div> 
        </div>
         </div>
         <div class="blanco"></div>
        <div class="foter">
            <footer>
                <div class="form">
                    <form action="" method="post">
                        <input type="text" placeholder="Nombre"><br>
                        <input type="gmail" placeholder="@Email"><br>
                        <input type="text" placeholder="Télefono"><br>
                        <button class="cv">enviar</button>
                    </form>
                </div>
                <div class="contacto">
                    
                    <label class="text1">kdortega@gmail.com</label>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>