<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/proyectos.css">
</head>
<body>
    <div class="content-main">
        <div class="nav">
            <nav class="main">
                <ul>
                    <a href="index.html"><li>Inicio</li></a>
                    <a href="#"><li>Proyectos</li></a>
                    <a href="contacto.html"><li>Contacto</li></a>
                </ul>
            </nav>
        </div>

        <div class="content-perfil">
            <div class="contenedor">
                <center>  <div class="galeria-port caja1">
                <div class="imagen-port">
                        <img class="image" src="../img/fondo1.jpg" alt="">
                        <div class="hover-galeria">
                                <img src="../img/icono1.png" alt="">
                                <p>Conocer mas hacerca del proyecto</p>
                        </div>
                </div>
                </div></center>
                 <!--Targeta2-->
                       <center><div class="galeria-port caja2">
                        <div class="imagen-port">
                                <img src="../img/fondo2.png" alt="">
                                <div class="hover-galeria">
                                         <img src="../img/icono1.png" alt="">
                                        <p>Conocer mas hacerca del proyecto</p>
                                </div>
                        </div>
                        </div></center>
                        <!--Targeta3-->
                      <center>  <div class="galeria-port caja3">
                                <div class="imagen-port">
                                        <img src="../img/fondo3.png" alt="">
                                        <div class="hover-galeria">
                                                 <img src="../img/icono1.png" alt="">
                                                <p>Conocer mas hacerca del proyecto</p>
                                        </div>
                                </div>
                                </div>
                            </center>
        
        
               <center><div class="galeria-port caja4">
                <div class="imagen-port">
                        <img class="image" src="../img/fondo4.png" alt="">
                        <div class="hover-galeria">
                                 <img src="../img/icono1.png" alt="">
                                <p>Conocer mas hacerca del proyecto</p>
                        </div>
                </div>
                </div>
            </center> 
                 <!--Targeta2-->
                      <center> <div class="galeria-port caja5">
                        <div class="imagen-port">
                                <img src="../img/fondo5.png" alt="">
                                <div class="hover-galeria">
                                         <img src="../img/icono1.png" alt="">
                                        <p>Conocer mas hacerca del proyecto</p>
                                </div>
                        </div>
                        </div></center> 
                         <!--Targeta3-->
                      <center><div class="galeria-port caja6">
                        <div class="imagen-port">
                                <img src="../img/fondo6.png" alt="">
                                <div class="hover-galeria">
                                         <img src="../img/icono1.png" alt="">
                                        <p>Conocer mas hacerca del proyecto</p>
                                </div>
                        </div>
                        </div>    </center>      
        </div>
        </div>
         <div class="content-info">
           <div class="img-perfil">
            <img class="imgP" src="../img/logo.png" alt="">
           </div>
         </div>

        <div class="foter">
            <footer>hola</footer>
        </div>
    </div>
</body>
</html>